/**
 * @name Fluent Discord
 * @author TakosThings
 * @version 1.0.0
 * @description Fluent theme for Discord
 * @invite ZYrCacRuez
 * @source https://github.com/TakosThings/Fluent-Discord
*/
@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);
/**
 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/
/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/
/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/
:root {
/* NavyBlue */
  --fluent-accent-hue-sat: 206, 100%;
  --fluent-accent-lightness: 35%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://cdn.discordapp.com/attachments/930599763584372766/971925810418176030/unknown.png);
  --fluent-acrylic-background-blur: 11px;
  --fluent-acrylic-background-dimness: 0%;
  --fluent-guilds-icon-size: 53px;
  --fluent-chatbox-stickers-button-visibility: none;
}

/**
 * End user options
*/
